 <!--View post for writer-->
    <div class="container">
        <div class="row">
            <div class="Customtitle mb-1 w-100 mt-2">
                <div class="my-mark">
                    <p class="ml-3">Đã được duyệt & chờ xuất bản</p>
                </div>
            </div>
            <div style="background-color: white;">
                <div class="row mb-1">

                    <div class="col-md-4 col-12">
                        <div class="card">
                            <div style="height:250px!important; overflow: hidden;">
                                <div class="post">
                                    <a href="./article//VNVD/singlePost.html"><img src="/img/mienbac.jpg" class="card-img-top card-img-categoryItem"
                                            alt="..."></a>
                                    <a href="#" class=" post-title badge badge-success ">Tin trong nước</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title my-card-title-s">Đầu tuần miền Bắc và Trung nắng nóng</h5>
                                <p class="card-text card-article-sumary">Vài dòng tóm tắt</p>
                                <div class="post-date">February 11, 2018</div>
                            </div>
                        
                        </div>

                    </div>
                    <div class="col-md-4 col-12">
                        <div class="card">
                            <div style="height:250px!important; overflow: hidden;">
                                <div class="post">
                                    <a href="./article//VNVD/singlePost.html"><img src="/img/mark.jpg" class="card-img-top card-img-categoryItem"
                                            alt="..."></a>
                                    <a href="#" class=" post-title badge badge-success ">Doanh nhân</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title my-card-title-s">Khối bất động sản 'khủng' của Mark Zuckerberg</h5>
                                <p class="card-text card-article-sumary">Ngoài căn nhà ở Palo Alto, Mark Zuckerberg sở hữu gần chục biệt thự, mảnh đất và đồn điền rộng hàng trăm ha.</p>
                                <div class="post-date">February 11, 2018</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 ">
                        <div class="card">
                            <div style="height:250px!important; overflow: hidden;">
                                <div class="post">
                                    <a href="./article//VNVD/singlePost.html"><img src="/img/venezelua.jpg" class="card-img-top card-img-categoryItem"
                                            alt="..."></a>
                                    <a href="#" class=" post-title badge badge-success ">Tin quốc tế</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title my-card-title-s">Trực thăng quân sự Venezuela rơi, 7 sĩ quan thiệt mạng</h5>
                                <p class="card-text card-article-sumary">Một chiếc trực thăng đã rơi trên bầu trời Venezuela hôm 5/5
                                </p>
                                <d
                                iv class="post-date">February 11, 2018</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="Customtitle mb-1 w-100 mt-2">
                <div class="my-mark">
                    <p class="ml-3">Đã xuất bản</p>
                </div>
            </div>
            <div style="background-color: white;">
                <div class="row mb-1">

                    <div class="col-md-4 col-12">
                        <div class="card">
                            <div style="height:250px!important; overflow: hidden;">
                                <div class="post">
                                    <a href="./article//VNVD/singlePost.html"><img src="/img/cr7.jpg" class="card-img-top card-img-categoryItem"
                                            alt="..."></a>
                                    <a href="#" class=" post-title badge badge-success ">Thể thao</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title my-card-title-s">Ronaldo và messi ai hay hơn</h5>
                                <p class="card-text card-article-sumary">Ronaldo và messi ai hay hon</p>
                                <div class="post-date">February 11, 2018</div>
                                <div class="d-flex flex-row-reverse">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-12">
                        <div class="card">
                            <div style="height:250px!important; overflow: hidden;">
                                <div class="post">
                                    <a href="./article//VNVD/singlePost.html"><img src="/img/batdongsan.jpg" class="card-img-top card-img-categoryItem"
                                            alt="..."></a>
                                    <a href="#" class=" post-title badge badge-success ">Tài chính</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title my-card-title-s">TChuyên gia lo GDP giảm nếu siết tín dụng bất động
                                    sản cao cấp</h5>
                                <p class="card-text card-article-sumary">Việc siết tín dụng có thể giáng thêm một cú sốc
                                    cho thị trường địa ốc đang gặp khó khăn từ nhiều phía, theo các chuyên gia.</p>
                                <div class="post-date">February 11, 2018</div>
                                <div class="d-flex flex-row-reverse">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 ">
                        <div class="card">
                            <div style="height:250px!important; overflow: hidden;">
                                <div class="post">
                                    <a href="./article//VNVD/singlePost.html"><img src="/img/venezelua.jpg" class="card-img-top card-img-categoryItem"
                                            alt="..."></a>
                                    <a href="#" class=" post-title badge badge-success ">Tin quốc tế</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title my-card-title-s">Trực thăng quân sự Venezuela rơi, 7 sĩ quan thiệt mạng</h5>
                                <p class="card-text card-article-sumary">Trực thăng ở venezuela rơi hôm 5/5
                                </p>
                                <div class="post-date">February 11, 2018</div>
                                <div class="d-flex flex-row-reverse">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="Customtitle mb-1 w-100 mt-2">
                <div class="my-mark">
                    <p class="ml-3">Chưa được duyệt</p>
                </div>
            </div>
            <div style="background-color: white;">
                <div class="row mb-1">

                    <div class="col-md-4 col-12">
                        <div class="card">
                            <div style="height:250px!important; overflow: hidden;">
                                <div class="post">
                                    <a href="./article//VNVD/singlePost.html"><img src="/img/cr7.jpg" class="card-img-top card-img-categoryItem"
                                            alt="..."></a>
                                    <a href="#" class=" post-title badge badge-success ">Thể thao</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title my-card-title-s">ronaldo và messi ai giỏi hơn</h5>
                                <p class="card-text card-article-sumary">Cuộc đua này vẫn chưa có hồi kết</p>
                                <div class="post-date">February 11, 2018</div>
                                <div class="d-flex flex-row-reverse">
                                    <button type="button" class="btn btn-outline-success">Edit</button>
                                    <button type="button" class="btn btn-outline-danger mr-3">Delete</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-12">
                        <div class="card">
                            <div style="height:250px!important; overflow: hidden;">
                                <div class="post">
                                    <a href="./article//VNVD/singlePost.html"><img src="/img/taichinh.jpg" class="card-img-top card-img-categoryItem"
                                            alt="..."></a>
                                    <a href="#" class=" post-title badge badge-success ">Tài chính</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title my-card-title-s">Giá vàng tiếp tục tăng</h5>
                                <p class="card-text card-article-sumary">Chiều hôm nay giá vàng tiếp tục tăng</p>
                                <div class="post-date">February 11, 2018</div>
                                <div class="d-flex flex-row-reverse">
                                    <button type="button" class="btn btn-outline-success">Edit</button>
                                    <button type="button" class="btn btn-outline-danger mr-3">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 ">
                        <div class="card">
                            <div style="height:250px!important; overflow: hidden;">
                                <div class="post">
                                    <a href="./article//VNVD/singlePost.html"><img src="/img/venezelua.jpg" class="card-img-top card-img-categoryItem"
                                            alt="..."></a>
                                    <a href="#" class=" post-title badge badge-success ">Tin quốc tế</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title my-card-title-s">Máy bay quân sự rơi ở venezuela</h5>
                                <p class="card-text card-article-sumary">Máy bay quân sự rơi hôm 5/5 ở venezuela
                                </p>
                                <div class="post-date">February 11, 2018</div>
                                <div class="d-flex flex-row-reverse">
                                    <button type="button" class="btn btn-outline-success">Edit</button>
                                    <button type="button" class="btn btn-outline-danger mr-3">Delete</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="Customtitle mb-1 w-100 mt-2">
                    <div class="my-mark">
                        <p class="ml-3">Bị từ chối</p>
                    </div>
                </div>
                <div style="background-color: white;">
                    <div class="row mb-1">
    
                        <div class="col-md-4 col-12">
                            <div class="card">
                                <div style="height:250px!important; overflow: hidden;">
                                    <div class="post">
                                        <a href="./article//VNVD/singlePost.html"><img src="/img/cr7.jpg" class="card-img-top card-img-categoryItem"
                                                alt="..."></a>
                                        <a href="#" class=" post-title badge badge-success ">Thể thao</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title my-card-title-s">ronaldo và messi ai giỏi hơn</h5>
                                    <p class="card-text card-article-sumary">Cuộc chiến vẫn chưa có hồi kết</p>
                                    <div class="post-date">February 11, 2018</div>
                                    <div class="d-flex flex-row-reverse">
                                        <button type="button" class="btn btn-outline-success">Edit</button>
                                        <button type="button" class="btn btn-outline-warning mr-3">Message</button>
                                        <button type="button" class="btn btn-outline-danger mr-3">Delete</button>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="card">
                                <div style="height:250px!important; overflow: hidden;">
                                    <div class="post">
                                        <a href="./article//VNVD/singlePost.html"><img src="/img/taichinh.jpg" class="card-img-top card-img-categoryItem"
                                                alt="..."></a>
                                        <a href="#" class=" post-title badge badge-success ">Tài chính</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title my-card-title-s">Giá vàng tiếp tục tăng mạnh</h5>
                                    <p class="card-text card-article-sumary">Giá vàng tăng 200 đồng lượng chiều nay</p>
                                    <div class="post-date">February 11, 2018</div>
                                    <div class="d-flex flex-row-reverse">
                                        <button type="button" class="btn btn-outline-success">Edit</button>
                                        <button type="button" class="btn btn-outline-warning mr-3">Message</button>
                                        <button type="button" class="btn btn-outline-danger mr-3">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 ">
                            <div class="card">
                                <div style="height:250px!important; overflow: hidden;">
                                    <div class="post">
                                        <a href="./article//VNVD/singlePost.html"><img src="/img/venezelua.jpg" class="card-img-top card-img-categoryItem"
                                                alt="..."></a>
                                        <a href="#" class=" post-title badge badge-success ">Tin quốc tế</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title my-card-title-s">Máy bay quân sự rơi ở venezuela</h5>
                                    <p class="card-text card-article-sumary">Máy bay quân sự rơi ở venezuela hôm 5/5
                                    </p>
                                    <div class="post-date">February 11, 2018</div>
                                    <div class="d-flex flex-row-reverse">
                                        <button type="button" class="btn btn-outline-success">Edit</button>
                                        <button type="button" class="btn btn-outline-warning mr-3">Message</button>
                                        <button type="button" class="btn btn-outline-danger mr-3">Delete</button>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>


        </div>
    </div>

    <!--End view post-->