<!--View post for admin-->
    <div class="container">
        <div class="row">
                <div class="Customtitle mb-1 w-100">
                        <div class="my-mark">
                            <p class="ml-3">Danh sách các bài viết chờ duyệt</p>
                        </div>
                    </div>
            <div style="background-color: white;">
                <div class="row mb-1">
                    <div class="CategoryTitle">
                        <a href="#" class="badge badge-success">Doanh nhân</a>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="card">
                            <div style="height:250px!important; overflow: hidden;"><a href="#"><img src="/img/mark.jpg"
                                        class="card-img-top card-img-categoryItem" alt="..."></a></div>
                            <div class="card-body">
                                <h5 class="card-title my-card-title-s">Maru zukenbeg giàu cỡ nào</h5>
                                <p class="card-text card-article-sumary">Giá trị thực sự của mark</p>
                                <div class="post-date">February 11, 2018</div>
                                <div class="d-flex flex-row-reverse">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-12">
                        <div class="card">
                            <div style="height:250px!important; overflow: hidden;"><a href="/article//VNVD/singlePost.html"><img src="/img/warrent.png"
                                        class="card-img-top card-img-categoryItem" alt="..."></a></div>
                            <div class="card-body">
                                <h5 class="card-title my-card-title-s">Bàn tay vàng của Warren Buffett liệu đã hết phép?</h5>
                                <p class="card-text card-article-sumary">Nhiều tài sản ưa thích của Buffett, như Wells Fargo và Coca-Cola, không có diễn biến tốt, còn Kraft Heinz mất giá 20% năm nay.</p>
                                <div class="post-date">February 11, 2018</div>
                                <div class="d-flex flex-row-reverse">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 ">
                        <div class="card">
                            <div style="height:250px!important; overflow: hidden;"><a href="/article//VNVD/singlePost.html"><img src="/img/tinnoibat2.png"
                                        class="card-img-top card-img-categoryItem" alt="..."></a></div>
                            <div class="card-body">
                                <h5 class="card-title my-card-title-s">Bí quyết kiếm tiền của triệu phú</h5>
                                <p class="card-text card-article-sumary">Bí quyết kiếm tiền của đại gia 26 tuổi
                                </p>
                                <div class="post-date">February 11, 2018</div>
                                <div class="d-flex flex-row-reverse">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="CategoryTitle">
                    <a href="#" class="badge badge-success">Tài chính</a>
                </div>
                <div class="col-md-4 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;"><a href="/article//VNVD/singlePost.html"><img src="/img/cr7.jpg"
                                    class="card-img-top card-img-categoryItem" alt="..."></a></div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">Chuyên gia lo GDP giảm nếu siết tín dụng bất động sản </h5>
                            <p class="card-text card-article-sumary">Việc siết tín dụng có thể giáng thêm một cú sốc cho thị trường địa ốc đang gặp khó khăn từ nhiều phía, theo các chuyên gia.</p>
                            <div class="post-date">February 11, 2018</div>
                            <div class="d-flex flex-row-reverse">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;"><a href="/article//VNVD/singlePost.html"><img src="/img/taichinh1.jpg"
                                    class="card-img-top card-img-categoryItem" alt="..."></a></div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">Giải ngân đầu tư công tiếp tục chậm</h5>
                            <p class="card-text card-article-sumary">Tới cuối tháng 4, 39 Bộ, địa phương có tỷ lệ giải ngân vốn đầu tư công dưới 10% kế hoạch được giao năm 2019.</p>
                            <div class="post-date">February 11, 2018</div>
                            <div class="d-flex flex-row-reverse">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;"><a href="/article//VNVD/singlePost.html"><img src="/img/batdongsan.jpg"
                                    class="card-img-top card-img-categoryItem" alt="..."></a></div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">Lợi ích nhóm trong 'cuộc chiến' chung cư</h5>
                            <p class="card-text card-article-sumary">Hiện tượng căng băng rôn trở thành một trào lưu ở các dự án, mà đằng sau đó đôi khi có dấu hiệu “lợi ích nhóm”.</p>
                            <div class="post-date">February 11, 2018</div>
                            <div class="d-flex flex-row-reverse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-1">
                <div class="CategoryTitle">
                    <a href="#" class="badge badge-success">Thị trường</a>
                </div>
                <div class="col-md-4 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;"><a href="/article//VNVD/singlePost.html"><img src="/img/batdongsan1.png"
                                    class="card-img-top card-img-categoryItem" alt="..."></a></div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">Tiềm năng đầu tư bất động sản nghỉ dưỡng Hạ Long</h5>
                            <p class="card-text card-article-sumary">Hạ tầng giao thông, hệ thống tiện ích đồng bộ giúp Hạ Long thu hút nhà đầu tư, nhất là phần khúc bất động sản nghỉ dưỡng.</p>
                            <div class="post-date">February 11, 2018</div>
                            <div class="d-flex flex-row-reverse">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;"><a href="/article//VNVD/singlePost.html"><img src="/img/trungtam.jpg"
                                    class="card-img-top card-img-categoryItem" alt="..."></a></div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">Top các trung tâm thương mại đẹp và mát nhất Sài </h5>
                            <p class="card-text card-article-sumary">Sài Gòn có nhiều trung tâm thương mại sầm uất, do đó nếu dịp 30/4-1/5 này không đi chơi xa thì danh sách những điểm mua sắm này cũng khiến bạn mất cả ngày để khám phá.</p>
                            <div class="post-date">February 11, 2018</div>
                            <div class="d-flex flex-row-reverse">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="card">
                        <div style="height:250px!important; overflow: hidden;"><a href="/article//VNVD/singlePost.html"><img src="/img/trungtam1.jpg"
                                    class="card-img-top card-img-categoryItem" alt="..."></a></div>
                        <div class="card-body">
                            <h5 class="card-title my-card-title-s">Tp.HCM sắp có đại trung tâm thương mại lớn nhất tại </h5>
                            <p class="card-text card-articTiêu đề bài viết aaaaaaaaaaa aaaaaa bbbb
                                aaaaaaaaaa aaaaaaaaaaaaaaale-sumary">Quý 3/2019, Tập đoàn Quốc Cường Gia Lai sẽ đưa vào vận hành đại trung tâm thương mại Central Premium Mall lớn nhất tại quận 8, Tp.HCM. Đây cũng là tổ hợp shopping mall lớn thứ 8 của Sài Gò</p>
                            <div class="post-date">February 11, 2018</div>
                            <div class="d-flex flex-row-reverse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--End view post-->