 <!-- Content area -->
    <!--Show list of categories-->
    <div class="container">
        <div class="row">
            <div class="Customtitle mb-1 w-100">
                <div class="my-mark">
                    <p class="ml-3" style="font-size:20px">Danh sách các nhãn quản lý</p>
                </div>
            </div>
            <div style="background-color: white; font-weight:bold; min-height: 500px; font-size: 20px;" class="w-100">
                <ul style="list-style-type:none;" class="mt-2">
                    <li><img src="/img/tag.png" style="width:20px; height:20px">doanthihuong
                        <a href="#"> <img src="/img/edit.png" style="width:25px; height:25px;"></a>&nbsp;<a
                            href="#"><img src="/img/delete.png" style="width:25px; height:25px;"></a></li>



                    <li><img src="/img/tag.png" style="width:20px; height:20px"> mu-c2
                        <a href="#"><img src="/img/edit.png" style="width:25px; height:25px;"></a>&nbsp;<a
                            href="#"><img src="/img/delete.png" style="width:25px; height:25px;"></a></li>



                    <li><img src="/img/tag.png" style="width:20px; height:20px"> messi-c1
                        <a href="#"> <img src="/img/edit.png" style="width:25px; height:25px;"></a>&nbsp;<a
                            href="#"><img src="/img/delete.png" style="width:25px; height:25px;"></a></li>



                    <li><img src="/img/tag.png" style="width:20px; height:20px"> ronaldo-juve
                        <a href="#"><img src="/img/edit.png" style="width:25px; height:25px;"></a>&nbsp;<a
                            href="#"><img src="/img/delete.png" style="width:25px; height:25px;"></a></li>



                    <li><img src="/img/tag.png" style="width:20px; height:20px"> runningmanvn
                        <a href="#"><img src="/img/edit.png" style="width:25px; height:25px;"></a>&nbsp;<a
                            href="#"><img src="/img/delete.png" style="width:25px; height:25px;"></a></li>

                    <li><img src="/img/tag.png" style="width:20px; height:20px"> showbiz-buianhtuan-danhghen
                        <a href="#"><img src="/img/edit.png" style="width:25px; height:25px;"></a>&nbsp;<a
                            href="#"><img src="/img/delete.png" style="width:25px; height:25px;"></a></li>

                    <li><img src="/img/tag.png" style="width:20px; height:20px"> start-style
                        <a href="#"><img src="/img/edit.png" style="width:25px; height:25px;"></a>&nbsp;<a
                            href="#"><img src="/img/delete.png" style="width:25px; height:25px;"></a></li>

                    <li><img src="/img/tag.png" style="width:20px; height:20px"> cucsilauongbelap
                        <a href="#"><img src="/img/edit.png" style="width:25px; height:25px;"></a>&nbsp;<a
                            href="#"><img src="/img/delete.png" style="width:25px; height:25px;"></a></li>
                    <li><img src="/img/tag.png" style="width:20px; height:20px"> hotrend-relax
                        <a href="#"><img src="/img/edit.png" style="width:25px; height:25px;"></a>&nbsp;<a
                            href="#"><img src="/img/delete.png" style="width:25px; height:25px;"></a></li>
                    <li><img src="/img/tag.png" style="width:20px; height:20px"> congdongmang
                        <a href="#"><img src="/img/edit.png" style="width:25px; height:25px;"></a>&nbsp;<a
                            href="#"><img src="/img/delete.png" style="width:25px; height:25px;"></a></li>

                    <li><img src="/img/tag.png" style="width:20px; height:20px"> thiTHPTQG
                        <a href="#"><img src="/img/edit.png" style="width:25px; height:25px;"></a>&nbsp;<a
                            href="#"><img src="/img/delete.png" style="width:25px; height:25px;"></a></li>
                    <li><img src="/img/tag.png" style="width:20px; height:20px"> dethiNguVan
                        <a href="#"><img src="/img/edit.png" style="width:25px; height:25px;"></a>&nbsp;<a
                            href="#"><img src="/img/delete.png" style="width:25px; height:25px;"></a></li>
                    <li><img src="/img/tag.png" style="width:20px; height:20px"> Marvel-endgame
                        <a href="#"><img src="/img/edit.png" style="width:25px; height:25px;"></a>&nbsp;<a
                            href="#"><img src="/img/delete.png" style="width:25px; height:25px;"></a></li>
                    <li><img src="/img/tag.png" style="width:20px; height:20px"> IloveYou3000
                        <a href="#"><img src="/img/edit.png" style="width:25px; height:25px;"></a>&nbsp;<a
                            href="#"><img src="/img/delete.png" style="width:25px; height:25px;"></a></li>
                    <a href="#"> <img src="/img/plus.png" style="width:20px; height:20px"><i
                            style="font-size: 20px; font-weight: normal; text-decoration: none; color: black">Thêm
                            nhãn</i></a>
                </ul>
            </div>
        </div>
    </div>
    <!--End show list-->

    <!-- End of content -->